@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

.mdi {
  font-family: "MaterialIcons-Regular";
}

.icon {
  font-family: 'LineAwesome';
}

.ns-light .editortoolbar {
  background-color: #F8F8FF;
}

.ns-dark .editortoolbar {
  background-color: #343434;
}

.ns-light .defaultbg {
  background-color: white;
}

.ns-dark .defaultbg {
  background-color: #343434;
}